name: ci

on:
  push:
    branches:
      - main
      - bisect # @todo: remove
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - node-version: 14
            node-lts: true
          - node-version: 16
            node-lts: true
          - node-version: 18
            node-lts: true
          - node-version: 19
            node-lts: false
    continue-on-error: ${{ ! matrix.node-lts }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn install
      # @todo: enable
      # - run: yarn build
      - run: yarn test
